@using HW18.Models.Entities
@model List<Product>
@{ ViewData["Title"] = "List of products"; } 
<h2>لیست کالاها</h2>
<table class="table">
	<thead>
		<tr> 
			<th>Name</th> 
			<th>Price</th>
			<th>Quantity</th>
			<th>Category ID</th>
	    </tr> 
	</thead> 
	<tbody> 
		@foreach (var item in Model) 
		{ 
			<tr>
				<td>@item.Name</td>
				<td>@item.Price</td>
				<td>@item.Qty</td>
				<td>@item.CategoryId</td>
		    </tr> 
		}
	</tbody>
@* 	@
	{
	alert("You haven't login yet!! (In order to see this page you should first login")
	} *@
</table>